.ipynb_checkpoints
.vscode
.DS_Store
*.egg-info
.python-version
__pycache__
/data
/notebooks/data
/logs
/notebooks/logs
/slurm
/notebooks/slurm
/.venv
/wandb
/notebooks/wandb
/dist
/build
/misc
.cupbearer_cache/
.ruff_cache/
lightning_logs/
